:root {
    --containerL-width: 65%;
    --containerR-width: calc(1 - var(--containerL-width));
    --containerLU-height: 60%;
    --containerLD-height: calc(1 - var(--containerLU-height));
    --containerLUL-width: 70%;
    --containerLUR-width: calc(1 - var(--containerLUL-width));

}

html {
    height: 100%;
    width: 100%;
    position: fixed;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

div {
    height: inherit;
    width: inherit;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 0px;
    height: 100%;
}

.containerT {
    height: 100%;
    width: 100%;
}

.containerL {
    width: var(--containerL-width)
}

.containerR {
    width: var(--containerR-width)
}

.containerLU {
    height: var(--containerLU-height)
}

.containerLR {
    height: var(--containerLD-height)
}

.containerLUL {
    width: var(--containerLUL-width)
}

.containerLUR {
    width: var(--containerLUR-width)
}


.projection {
  background-color: bisque;
  border: 10px black;
  font-size: large;
  padding: 0px;
}